.loginBtn {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 85%;
}

.btnSubmit {
    width: 200px;
    height: 55px;
}

.loginForm {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 100%;
}

.products, .services {
    height: 100%;
}

ul {
  list-style-type: none;
}
